<div class="box-nav d-flex justify-between" style="float:left;margin:0 0 0 0;">
    <a href="/users" class="border-shadow" style="margin:0 10px 0 0;">
        <span class="text-gradient">User <i class="fas fa-user"></i></span>
    </a>
    <a href="/news" class="border-shadow" style="margin:0 10px 0 0;">
        <span class="text-gradient">News <i class="far fa-newspaper"></i></span>
    </a>
</div>
<div class="box-nav d-flex justify-between" style="float:right;">
    <a href="/live" class="border-shadow">
        <span class="text-gradient">Logout <i class="fas fa-sign-out-alt"></i></span>
    </a>
</div>
<br>
<br>
<hr>