<!-- include header -->
<%- include('../../template/_header') %>
<!-- /include header -->
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">User Management System - Welcome!</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <br>
            <%- include('../menu/menu') %>
            <form action="/api/news" method="POST" id="add_user" style=" display: flex;align-items: center;">
                <a href="/find-news">
                    <button type="button" class="btn text-dark update" style="height:40px;">
                        <span >Tambah <i class="fas fa-plus"></i></span>
                    </button>
                </a>
                
                <input type="text" name="penulis" value="" placeholder="Cari" style="width:40%;height:40px;margin-right:-20px;margin-left:auto;">
                <button type="submit" class="btn text-dark update" style="height:40px;">Cari</button>
            </form>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Judul</th>
                            <th>Penulis</th>
                            <th>Tanggal Input</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('../../template/_footer') %>
<!-- /include footer -->